<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FFG Credit Union</title>
  <link rel="stylesheet" href="{{ url_for('account.static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('account.static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

{% if show_bottom_nav %}
<header class="all-header" style="padding: 10px;">
  <div class="header-left">
    <span class="logo-container">
      <img src="{{ url_for('account.static', filename='images/logo12.png') }}" 
      alt="FFG Credit Union" 
      class="bank-logo"
      />
    </span>
  </div>
  <div class="header-right">
    <a href="{{ url_for('account.help_page') }}" class="help-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
  </div>
</header>
{% endif %}

<main class="app-content">
  {% block content %}{% endblock %}
</main>

{% if show_bottom_nav %}
<nav class="bottom-nav">
        <a class="active" href="/account/index"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a>
        <a class="active" href="/account/transfer"><i class="fa fa-exchange" aria-hidden="true"></i><span>Transfer</span></a>
        <a class="active" href="/account/help"><i class="fa fa-comments" aria-hidden="true"></i><span>Chat</span></a>
        <a class="active" href="/account/cards"><i class="fa fa-credit-card" aria-hidden="true"></i><span>Cards</span></a>
        <a class="active" href="/account/profile"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
    </nav>
{% endif %}

</body>
</html>
